<h2>
	About
</h2>
<p>
	Vol Awakening is a student-led retreat sponsored by John XXIII Catholic Student Center.  We began this retreat at UTK with the help of Vanderbilt University, Duke University, UNC, NC State, Belmont, LSU, and Texas A&M University.  Come out and join us for a weekend of amazing talks, faith sharing, and fellowship with other College Christians.
</p>
<p>
	Awakening is an overnight retreat from Friday to Sunday that includes group bonding, fun activities, faith sharing, and a journey towards a closer relationship with God.  It is a great way to become a part of a community at The University of Tennessee.  You won’t regret it!  We look forward to seeing you in the Fall of 2013.
</p>