@{
	ViewBag.Title = "UTC Awakening";
}

<div class="grid">
	<div class="row">
		<div class="span8">
			<div class="padding20 quadro">
					<h1 class="fg-amber lead">UTC Awakening</h1>
					<p class="lead fg-amber">
						The first-ever UTC Awakening will happen this Spring!
					</p>
			</div>
					@*
			Whether you’re a freshman new to college,
			or someone who has been here for a few years that wants to invigorate your relationship with God,
			this should be at the top of your college to-do list.
			If you have already gone to an Awakening and can’t stay away,
			there’s also room for staffers.
			Retreater and Staffer sign-ups are on this site.
			Please fill one out and we’ll give you more information as the retreat gets closer.
								*@
		</div>
		<div class="span4">
			<div class="row no-margin">
				<div class="span4 bg-lightOrange">
					<span class="span4 padding20 subheader text-center fg-white introduce_r">Retreaters</span>
				</div>
			</div>
			<div class="row">
				<div class="span4 bg-darkOrange">
					<span class="span4 padding20 subheader text-center fg-white introduce_r">Staffers</span>
				</div>
			</div>
		</div>
	</div>
</div>