<h2>
	Retreater
</h2>
<p>
	Maybe you have been to a retreat or two in the past, or never even thought of willingly giving up your weekend to deepen your relationship with God.  The Vol Awakening retreat was created to help all students, no matter where they happen to be in their faith journey currently.  Whether your faith is steadfast and certain, you have a couple of doubts that need to be answered, or your not sure at all what you believe, Vol Awakening can help provide some of those answers or at least help you define the questions.  Come for a deepening of your faith or just to experience the fellowship of the Christian community.  Whatever your reason for coming, you will leave with a new outlook on life.
</p>
<p>
	Fees can be paid for in the John XXIII Office.
</p>
<p>
	Retreater Fees: $40
</p>
<p>
	Retreater Sign-up:
</p>
	@{ Html.RenderPartial("_RetreaterApp"); }