@{
    ViewBag.Title = "About";
}
<h1 class="fg-green">
	<a href="@Url.Action("Index")">
		<i class="icon-arrow-left-3 fg-emerald smaller"></i>
	</a>
	@ViewBag.Title
	<small class="on-right">UTC Catholic</small>
</h1>
<div class="row">
    <div class="col-md-5 bg-emerald">
		<h3 class="fg-white">A UTC Tradition</h3>
		<p class="fg-white">
			Our community is a close group where young Catholics can grow in their love for God and their knowledge of the Faith. We welcome all students to join us in the celebration of Mass, or participate in weekly Bible study sessions and discussions of our faith.
		</p>
		<p class="fg-white">
			In addition to providing faith nurturing activities, we also hold numerous outside activities including, bu not limited to: community service projects, bi-weekly dinners, football tailgating before Mocs games, outdoor cookouts, semester retreats, hockey nights in Nashville, and Church lock-ins.
		</p>
    </div>
	<div class="col-md-7">
		<h3>A Place to Pray and Play</h3>
		<p>
			Our building in conveniently located across the street from campus, at 514 Palmetto Street. Through the week, students are invited to come to the UTC Catholic Student Center 24 hours a day to pray, study, or hangout in a safe environment.
		</p>
		<p>
			Inside our facility is a Chapel with the Blessed Sacrament, a living area with a big screen TV, a game room with ping pong, billiards, and darts, along with a kitchen stocked with food, snacks, and beverages, and lastly a study room to work on school work. In addition to all this, free wi-fi is available throughout the building, along with a printer.
		</p>
		<p>
			With so many amenities, it is no wonder why students make us their 2nd home during college!
		</p>
	</div>
	<div class="col-md-12">
		<h2 class="center-block">What Students And Alumni Say About UTC Catholic</h2>
		<div class="row">
			<h3 class="">Students</h3>
			<blockquote class="col-md-8">
				<p>The Catholic center is a home away from home. Everyone is like family to me. It's a place I can go to get away from the stresses of life and focus on what's truly important, Jesus Christ.</p>
				<small><cite>Sarah McMahan</cite></small>
			</blockquote>
		</div>
		<div class="row">
			<h3 class="col-md-offset-4 col-md-8 pull-right">Alumni</h3>
			<blockquote class="col-md-offset-4 col-md-8 pull-right">
				<p>At the Catholic Center, what initially brings everyone together is a desire for faith, and with that is the foundation, the friendships and memories I formed there are some of the most genuine I will ever have.</p>
				<small><cite>Renee Lamine</cite></small>
			</blockquote>
		</div>
		<div class="row">
			<h3 class="">Director</h3>
			<blockquote class="col-md-8">
				<p>My wife and I enjoy keeping the UTC Catholic Student a "home away from home" - safe, comfortable, inviting, and spiritual nurturing for students of the Chattanooga area.</p>
				<small><cite>Deacon Brian Gabor</cite></small>
			</blockquote>
		</div>
	</div>
</div>


<div class="row">
<h3>Website Change Log</h3>
	<p><b>February 1, 2014 @@ 10:43AM - </b> Updated the Log Off Button to work without Javascript enabled.</p>
	<p><b>January 31, 2014 @@ 10:50PM - </b> A few updates to fix loading errors regarding the Awakening application. Updated the Index, About, and Contact Pages. Also added a Manage User page. Added warning about bug with Google and Facebook Log In Methods.</p>
	<p><b>January 30, 2014 @@ 10:56PM - </b> Updated Staff and Retreater Fees for Awakening section. Finished building an Administrator Email system.</p>
	<p><b>January 30, 2014 @@ 10:40AM - </b> Changes to the Awakening Application (applying, editting an application, or deleting an application) will send an email to confirm those acts.</p>
	<p><b>January 29, 2014 @@ 12:30PM - </b> We have rolled out updates to fix applications throwing errors to certain users without Javascript support.</p>
	<p><b>January 12, 2014 @@ 11:45PM - </b> We have updated the Awakening section. Retreaters and Staffers pages will be more responsive, and reviewing the application will now allow a editting or deleting the application. If you were experiencing difficulties, please try again.</p>
</div>