@{
	ViewBag.Title = "Contact Us";

}
<h1 class="fg-green">
	<a href="@Url.Action("Index")">
		<i class="icon-arrow-left-3 fg-emerald smaller"></i>
	</a>
	@ViewBag.Title
	<small class="on-right">UTC Catholic</small>
</h1>
<div class="row">
	<div class="col-md-4">
		<h3>Address</h3>
		<address>
			514 Palmetto Street<br />
			Chattanooga, TN 37403<br />
		</address>
	</div>
	<div class="col-md-8">
		<h3>Leaders</h3>
		<table class="table striped" >
			<thead>
				<tr><td>Position</td>			<td>Name</td>					<td>Email</td>																								<td>Phone</td></tr>
			</thead>
			<tbody>
				<tr><td>Director</td>			<td>Deacon Brian Gabor</td>		<td>director@utccatholic.org</td>																			<td><address></address></td></tr>
				<tr><td>Chaplain</td>			<td>Father Michael Cummins</td>	<td></td>																									<td><address></address></td></tr>
				<tr><td>Social Director</td>	<td>Molly Gallagher</td>		<td><address><a href="mailto:mollygallagher26@gmail.com">mollygallagher26@gmail.com</a></address></td>		<td><address></address></td></tr>
				<tr><td>Resident </td>			<td>James Haug</td>				<td><address><a href="mailto:james0308@outlook.com">james0308@outlook.com</a></address></td>				<td><address>865-323-6569</address></td></tr>
			</tbody>
		</table>
	</div>
</div>