@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>UTC Catholic</h1>
    <p class="lead">This is the UTC Catholic Website. We are sorry for the inconvenience, but the website is still under ongoing development. This site will be updated shortly. Again, sorry for the inconvience.</p>

</div>
