@model UTCCatholic.ViewModels.SchoolView

<div class="grid fluid">
	<div class="row">
		<div class="col-xs-6">
			<div class="input-control text" data-role="input-control">
				<label>@Html.LabelFor( m => m.College )</label>
				<input value="@Model.College" disabled />
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-control text" data-role="input-control">
				<label>@Html.LabelFor( m => m.Grade )</label>
				<input value="@Model.Grade.Title" disabled />
			</div>
		</div>
	</div>
</div>