@{
	ViewBag.Title = "User Roles";
}

<h1 class="fg-green">
	<a href="@Url.Action("Index", "Admin")">
		<i class="icon-arrow-left-3 fg-emerald smaller"></i>
	</a>
	@ViewBag.Title
	<small class="on-right">Admin</small>
</h1>

