@model UTCCatholic.InputModels.PhoneInput

<fieldset>
	<div class="col-md-6">
		<label>Number</label>
		<div class="input-control text" data-role="input-control">
			<input data-val="true" data-val-phone="The Number field is not a valid phone number." data-val-required="The Number field is required." id="Personal_Phone_Number" name="Personal.Phone.Number" type="tel" value="" placeholder="555-555-5555">
		</div>
	</div>
	<div class="col-md-6">
		<div class="input-control select" data-role="input-control">
			<label>Carrier</label>
			<select>
				<!-- Select List for Carriers, ran by Knockout -->
			</select>
		</div>
	</div>
</fieldset>